<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h3> {{ html_data.news_title }} </h3>
        <p> {{ html_data.news_p }} </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1> Featured Mars Image </h1>
        <img src = "{{ html_data.featured_image_url }}" class='img-fluid'>
      </div>
      <div class="col-md-4">
        {{ html_data.html_table|safe}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Mars Hemispheres</h1>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{{html_data.hemi_imgs.Cerberus_Hemisphere}}" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-md-6">
              <img src="{{html_data.hemi_imgs.Valles_Marineris_Hemisphere}}" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
          </div>  
          <div class="row">
            <div class="col-md-6">
              <img src="{{html_data.hemi_imgs.Schiaparelli_Hemisphere}}" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-md-6">
              <img src="{{html_data.hemi_imgs.Syrtis_Major_Hemisphere}}" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
</body>

</html>